{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Se connecter à compte</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">Compte</a></li>
                    <li class="breadcrumb-item active">Connexion</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="alert alert-warning" role="alert">
                                Tu est connecter au compte : {{ app.user.userIdentifier }} | <a href="{{ path('app_logout') }}">Deconnexion</a>
                            </div>
                            {# <div class="alert alert-warning d-flex align-items-center" role="alert">
                                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                <div>
                                    An example warning alert with an icon
                                </div>
                            </div> #}

                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                        <label for="username">Email</label>
                        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                        <label for="password">Password</label>
                        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="checkbox mb-3">
                                <input class="form-chech-input m-2" type="checkbox" name="_remember_me" id="_remember_me">
                                <label class="form-check-label mt-1" for="_remember_me">Rester connecter</label>
                            </div>

                        <button class="btn btn-primary mt-5" type="submit">Connexion</button>
                    </form>
                    </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
