{% extends 'base.html.twig' %}

{% block title %}Liste des article{% endblock %}

{% block body %}

            <div id="layoutSidenav_content">
            <style>.card{height:100%}.btn{bottom:0}</style>
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Article</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Article</li>
                        </ol>
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="row">
                            {% for article in articles %}
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        {% if article.image %}
                                        <img src="{{ asset('uploads/' ~ article.image) }}" class="card-img-top" style="max-height:200px" alt="image de {{ article.titre }}">
                                        {% endif %}
                                        <div class="card-body">
                                            <h5 class="card-title">{{ article.titre }} ({{ article.id}})</h5>
                                            <p class="card-text">{{ article.texte }}</p>
                                            <a href="{{ path('app_article_edit', {'id' : article.id}) }}" class="btn btn-primary">Modifier</a>
                                            <a href="{{ path('app_article_delete', {'id' : article.id}) }}" class="btn btn-danger">Supprimer</a>
                                        </div>
                                        <div class="card-footer text-muted">
                                            Publié le {{ article.date|date('d/m/Y H:i') }}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <p>Aucun article disponible.</p>
                            {% endfor %}
                        </div>
                    </div>
                </main>
            </div>
        </div>

{% endblock %}
